body {
  font-family: sans-serif;
}
.theme {
    cursor: pointer;
    margin-bottom: 30px;
}

.header {
    text-align: center;
    padding: 3em 0;
}

.header h2 {
    margin-bottom: .6em;
    font-weight: bold;
}

.search-input {
    margin-bottom: .5em;
}

.inner p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-control.search-input {
    display: inline-block;
    width: auto;
}

.inner p:first-child {
  margin-top: 0;
}

.content {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, black, rgba(255, 255, 255, 0.46));
}

.inner {
    border: 1px solid #f2f2f2;
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: top left;
}

.inner p:last-child {
    margin-bottom: 0;
}

.inner {
    padding: 20px 20px;
    color: #fff;
}

.themes, .themes * {
    box-sizing: border-box;
}